<!-- Sample Content to Plugin to Template -->
<h1>CSS Basic Elements</h1>

<p>
  The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible
  HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.
</p>

<hr/>

<h1 id="headings">Headings</h1>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<h1 id="headings">Inverse Headings</h1>
<h1 class="inverse">Heading 1</h1>
<h2 class="inverse">Heading 2</h2>
<h3 class="inverse">Heading 3</h3>
<h4 class="inverse">Heading 4</h4>
<h5 class="inverse">Heading 5</h5>
<h6 class="inverse">Heading 6</h6>

<hr/>

<h1 id="paragraph">Paragraph</h1>
<img src="/assets/rails.png" alt="CSS | God's Language"/>
<p>
  Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis
  est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet
  at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo,
  eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a
  ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
</p>
<p>
  Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque
  aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt
  nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat
  enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante.
  Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
</p>

<hr/>

<h1 id="list_types">List Types</h1>
<h3>Definition List</h3>
<dl>
  <dt>Definition Term 1</dt>
  <dd>This is a definition list division.</dd>
  <dt>Definition Term 2</dt>
  <dd>This is a definition list division.</dd>
</dl>

<h3>Ordered List</h3>
<ol>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ol>

<h3>Unordered List</h3>
<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ul>

<hr/>
<h1>Button Colors</h1>
<button class="btn btn-default">Default</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-danger">Danger</button>

<h1 id="form_elements">Fieldsets, Legends, and Form Elements</h1>
<form class="form">
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="text_field" class="required">Text Field:</label>
      <input type="text" class="form-control" id="text_field"/>
    </div>
    <div class="form-group">
      <label for="text_area">Text Area:</label>
      <textarea id="text_area" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="select_element">Select Element:</label>
      <select class="form-control" name="select_element">
        <optgroup label="Option Group 1">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </optgroup>
        <optgroup label="Option Group 2">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </optgroup>
      </select>
    </div>
    <div class="form-group">
      <label for="radio_buttons">Radio Buttons:</label>

      <div class="radio">
        <label><input type="radio" name="radio_button" value="radio_1"/> Radio 1</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="radio_button" value="radio_2"/> Radio 2</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="radio_button" value="radio_3"/> Radio 3</label>
      </div>
    </div>
    <div>
      <label for="checkboxes">Checkboxes:</label>

      <div class="checkbox">
        <label><input type="checkbox" name="checkboxes" value="check_1"/> Checkbox 1</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="checkboxes" value="check_2"/> Checkbox 2</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="checkboxes" value="check_3"/> Checkbox 3</label>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="password" name="password"/>
    </div>
    <div class="form-group">
      <label for="file">File Input:</label>
      <input type="file" class="file" name="file"/>
    </div>
    <div class="actions">
      <input class="btn btn-warning" type="reset" value="Clear"/>
      <input class="btn btn-primary" type="submit" value="Submit"/>
    </div>
  </fieldset>
</form>

<hr/>

<h1 id="tables">Tables</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Table Header 1</th>
    <th>Table Header 2</th>
    <th>Table Header 3</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Division 1</td>
    <td>Division 2</td>
    <td>Division 3</td>
  </tr>
  <tr>
    <td>Division 1</td>
    <td>Division 2</td>
    <td>Division 3</td>
  </tr>
  <tr>
    <td>Division 1</td>
    <td>Division 2</td>
    <td>Division 3</td>
  </tr>
  </tbody>
</table>

<hr/>

<h1 id="misc">Misc Stuff - abbr, acronym, pre, code, sub, sup, etc.</h1>

<p>
  Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim
  convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi,
  imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi
  volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla
  nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem,
  consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. <abbr title="Avenue">AVE</abbr>
</p>

<pre>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec
    faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida
    vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget
    metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.
    <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at,
    commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. <abbr title="Avenue">AVE</abbr>
  </p>
</pre>

<blockquote>
  "This stylesheet is going to help so freaking much." <br/>-Blockquote
</blockquote>

<hr/>

<h1>Rails styles</h1>
<br/>

<div class="alert alert-danger">
  <p>This is an alert</p>
</div>
<br/>

<div class="alert alert-warning">
  <p>This is a notice</p>
</div>
<br/>

<h2>Optional</h2>
<div class="alert alert-success">
  <p>This is success</p>
</div>
<br/>

<div class="alert alert-info">
  <p>This is info</p>
</div>
<br/>

<div id="error_explanation">
  <h2>Error Title</h2>

  <p>
    Theoretical text.
  </p>
  <ul class="errors">
    <li>Error 1</li>
    <li>Error 2</li>
  </ul>
</div>
<br/>

<!-- End of Sample Content -->